.box-img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
}

.small-box-img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  max-width: 289px;
  max-height: 289px;
}

.xsmall-box-img {
  width: 11vw;
  height: 11vw;
  object-fit: cover;
  max-width: 212px;
  max-height: 212px;
}

.btn-fab {
  right: -18px;
  bottom: 9vw;
}

.small-btn-fab {
  right: -18px;
  bottom: 6vw;
}

.xsmall-btn-fab {
  right: -16px;
  bottom: 4.5vw;
}

.delete-fab {
  right: -16px;
  top: -16px;
}

.text-xcaption {
  font-size: 0.6em;
}

.bottom-rating {
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 960px) {
  .box-img {
    width: 40vw;
    height: 40vw;
  }

  .small-box-img {
    width: 20vw;
    height: 20vw;
  }

  .xsmall-box-img {
    width: 14vw;
    height: 14vw;
  }

  .btn-fab {
    bottom: 17vw;
  }

  .small-btn-fab {
    bottom: 7vw;
  }
}

@media screen and (max-width: 600px) {
  .box-img {
    width: 35vw;
    height: 35vw;
  }

  .small-box-img {
    width: 32vw;
    height: 32vw;
  }

  .xsmall-box-img {
    width: 20vw;
    height: 20vw;
  }

  .btn-fab {
    bottom: 12vw;
  }

  .small-btn-fab {
    bottom: 12vw;
  }

  .xsmall-btn-fab {
    bottom: 8vw;
  }

  .right-rating {
    position: absolute;
    right: 10px;
    bottom: 0px;
  }
}
